In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("2015_2022_daily data.csv")
data.head()

         Date     Price      Open      High       Low Vol. Change %
0  20-04-2022  2,373.00  2,373.00  2,373.00  2,373.00  NaN    3.13%
1  19-04-2022  2,301.00  2,301.00  2,301.00  2,301.00  NaN    2.22%
2  18-04-2022  2,251.00  2,251.00  2,251.00  2,251.00  NaN    2.23%
3  14-04-2022  2,202.00  2,202.00  2,202.00  2,202.00  NaN    0.00%
4  13-04-2022  2,202.00  2,202.00  2,202.00  2,202.00  NaN    0.00%